{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    <h1>Sección de restaurantes </h1>


    <h1>¡Hola Mundo! (con plantilla)</h1>
    <img src="{% static "img/granada.jpg" %}" / >
    <img src="/static/img/granada.jpg" / >

    <p> <b> Ver que continene la imagen  -_> </b> {{STATIC_URL}} </p>

    <p> Que pasa tron!!</p>

    {% if categories %}
    <ul>
        {% for category in categories %}
        <form action="{% url 'delete' %}" method="get">
        <a href="/restaurantes/restaurante/{{ category.restaurant_id }}">{{ category.name }}  </a>
        {{category.restaurant_id}}

            <input type='hidden' name='id' value={{category.restaurant_id}}>
            <button type="submit" class="btn btn-primary"> Eliminar </button>
        </form>

        {% endfor %}
    </ul>
{% else %}
    <strong>There are no categories present.</strong>
{% endif %}


    <a href="/restaurantes/test"> pasar a google</a>


    {% block contenido %}

    {% endblock %}

{% endblock %}
